<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="text-center text-light">
  <h2>Title: {{appointment.title}}</h2>
  <p>Appointment time: {{appointment.time}}</p>
  <p>Patient ID Number: {{appointment.patient_id}}</p>

  <p>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myUpdateModal">Update Appointment</button>

    <a href="/dashboard"><button class="btn btn-primary">Return to Dashboard</button></a>
    <button class="btn btn-sm btn-danger" id="delete-button" data-id="{{appointment.id}}">DELETE</button>

  </p>
</div>

<div class="modal fade" id="myUpdateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="myModalLabel">Update Appointment
          Information</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label for="appointment-title">title: </label>
          <input
            type="text"
            id="update-appointment-title"
            value="{{appointment.title}}"
          /><br />
          <label for="appointment-time">Time:
          </label>
          <input
            type="text"
            id="update-appointment-time"
            value="{{appointment.time}}"
          /><br />
          <label for="appointment-patient_id">Patient_id:
          </label>
          <input
            type="text"
            id="update-appointment-patient_id"
            value="{{appointment.patient_id}}"
          /><br />
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          id="update-button"
          data-id="{{appointment.id}}"
        >Submit Appointment</button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<script src="/js/appointment.js"></script>