<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/dashboard.css"/>

<style>
    .fc .fc-toolbar-title, .fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion  { 
        color: aliceblue !important;
    }
</style>

<button class="btn btn-primary float-right mb-5" data-bs-toggle="modal" data-bs-target="#myCalModal">Add Appointment</button>

  {{#if appointments.length}}
  <div class="container appointment-cont mt-5 mb-4">
    <h3 class="text-light text-center list-title p-0">List of current appointments:</h3>

    {{#each appointments as |appointment|}}
    <div class="patient-cont d-flex flex-column">
      <div>
        <h4><a  href="/api/appointments/{{id}}" class="link-warning">{{appointment.title}}
        </a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

<div class="modal fade" id="myCalModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5 text-align-center" id="myCalModalLabel">New Appointment Information</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form action="" class="form">
          <div class="modal-appt-info">
            <label id"#new-appointment-title" for="appointment-title" class="text">Appointment Title:</label>
            <input class="form-input" type="text" id="new-appointment-title" value="{{appointment.title}}"/><br>
          </div>
          <div class="modal-appt-info">
            <label for="new-appointment-day" class="text">Appointment Day:</label>
            <input class="form-input" type="date" id="new-appointment-day" name="new-appointment-day"><br>
          </div>
          <div class="modal-appt-info">
            <label for="new-appointment-day" class="text">Appointment Time:</label>
            <input class="form-input" type="time" id="new-appointment-time" name="new-appointment-time"><br>
          </div>
          <div class="modal-appt-info">
            <label for="appointment-patient_id" class="text">Patient_id:</label>
            <select class="form-select" id="new-patient-patient_id" required>
              <option selected>Choose...</option>
                {{#each patients as |patient|}}
                <option value="{{id}}">{{id}}</option>
                {{/each}}
              <option value="none">None</option>
            </select><br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="new-appointment">Submit Appointment</button>
      </div>
    </div>
  </div>
</div>

<div id="calendar" class="calendar" data-user="{{stringifyData this}}"></div>

<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Please try again.</h5>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>

      </div>
    </div>
  </div>
</div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/calendar.js"></script>
<script src="/js/dashboard.js"></script>
